@use "../../styles/variables.scss" as *;

@media all and ($mobile) {
  .page > #quartz-body {
    & > :not(.sidebar.left:has(.toc)) {
      transition: transform 300ms ease-in-out;
    }

    &.lock-scroll > :not(.sidebar.left:has(.toc)) {
      transform: translateX(100dvw);
      transition: transform 300ms ease-in-out;
    }

    .sidebar.left:has(.toc) {
      box-sizing: border-box;
      position: sticky;
      background-color: var(--light);
      padding: 1rem 0 1rem 0;
      margin: 0;
    }

    .hide-until-loaded ~ .toc-content {
      display: none;
    }
  }
}

.toc {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  min-height: 1.4rem;
  flex: 0 0.5 auto;
  &:has(button.toc-header.collapsed) {
    flex: 0 1 1.4rem;
  }

  button.mobile-toc {
    display: none;
  }

  button.desktop-toc {
    display: flex;
  }

  @media all and ($mobile) {
    order: -1;
    height: initial;
    overflow: visible;
    flex-shrink: 0;
    align-self: flex-start;
    margin-top: auto;
    margin-bottom: auto;

    button.mobile-toc {
      display: flex;
    }

    button.desktop-toc {
      display: none;
    }

    & > .toc-content {
      transform: translateX(-100vw);
      visibility: hidden;
      transition:
        transform 200ms ease,
        visibility 200ms ease;
    }

    &.open > .toc-content {
      transform: translateX(0);
      visibility: visible;
    }

    &.collapsed,
    &:not(.collapsed) {
      flex: 0 0 34px;
    }
  }
}

button.mobile-toc,
button.desktop-toc {
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  padding: 0;
  color: var(--dark);
  display: flex;
  align-items: center;

  & h3 {
    font-size: 1rem;
    display: inline-block;
    margin: 0;
  }
}

button.toc-header {
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  padding: 0;
  color: var(--dark);
  display: flex;
  align-items: center;

  & h3 {
    font-size: 1rem;
    display: inline-block;
    margin: 0;
  }

  & .fold {
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
    opacity: 0.8;
  }

  &.collapsed .fold {
    transform: rotateZ(-90deg);
  }
}

ul.toc-content {
  list-style: none;
  position: relative;
  margin: 0.5rem 0;
  padding: 0;
  max-height: calc(100% - 2rem);
  overscroll-behavior: contain;

  & > li > a {
    color: var(--dark);
    opacity: 0.35;
    transition:
      0.5s ease opacity,
      0.3s ease color;
    &.in-view {
      opacity: 0.75;
    }
  }

  @for $i from 0 through 6 {
    & .depth-#{$i} {
      padding-left: calc(1rem * #{$i});
    }
  }
}

@media all and ($mobile) {
  .toc {
    .toc-content {
      box-sizing: border-box;
      z-index: 100;
      position: fixed;
      top: 0;
      left: 0;
      margin-top: 0;
      background-color: var(--light);
      max-width: 100vw;
      width: 100vw;
      transform: translateX(-100vw);
      transition:
        transform 200ms ease,
        visibility 200ms ease;
      overflow-y: auto;
      padding: 4rem 1rem 2rem 1rem;
      height: 100dvh;
      max-height: 100dvh;
      visibility: hidden;
    }

    .mobile-toc {
      margin: 0;
      padding: 5px;
      z-index: 101;

      .lucide-menu {
        stroke: var(--darkgray);
      }
    }
  }
}